html, body {
    margin: 0;
    padding: 0;

    background-color: black;
}
body {
    height: 100vh;
}

h1 {
    color:#dbcba9;
    font-size: 50px;
    margin: 50px 0px 25px 0px;
    text-shadow: black 5px 3px;
    font-family: 'Hammersmith One', sans-serif;
}

#listHeading{
    margin-top: 70px;
    margin-bottom: 45px;
   
}

header {
    display: flex;
    flex-direction: column;
    text-align:center;
    

    /* border: 2px solid;
    border-color: mistyrose; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url(/Images/background/golden-book.jpg);
    background-size: cover;
    background-position: left;
    
    /*  no-repeat*/
}


nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.65);
    margin: 20vh 0px 0px 0px;
}

#subNav {
    margin-top: 60px;
   
}

nav > a {
    font-size: 24px;
    color: #dbcba9;
    padding: 5px;
}

nav > a:link, nav > a:visited{
   
    text-decoration: none;
   
    
}

/* nav > a:hover, nav > a:active {
   
  } */




main {
    text-align: center;    
}

#listOptions {
    color: #dbcba9;
    text-align: center;
    padding: 25px;
}

#listNames {
    color: #dbcba9;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
}

a {
    color: #dbcba9;
    text-decoration: none;
    margin: 10px;
    
}

a.navLinks {
    padding: 0px;
    margin: 5px;
}

a.dropLinks {
    padding: 5px;
    margin: 5px;
}

#listOptions {
    padding: 0px;
    margin: 15px;
}

#results {
    color: #dbcba9;
}

#inputElements {
    margin: 0 auto;
}

#inputFields { /* Div around the input fields */
    margin: 0 auto;
}

#mainInput, #newListInput { /* Search Bar */
    outline: none;
    border: solid;
    border-radius: 20px;
    height: 30px;
    width: 245px;
    color: #dbcba9;
    font-size: 20px;
    padding-left: 15px;
    background: transparent;
   
}

#newListInput {
    height: 20px;
    width: 175px;
    margin-left: 5px;
}

::placeholder {
    color: #dbcba9;
}

#searchButton, #newListButton {
    border: solid #dbcba9;
    border-radius: 15px;
    outline: none;
    background: black;
    color: #dbcba9;
    font-size: 20px;
    height: 35px;
    width: 75px;
    padding: 1px;
}

#newListButton {
    height: 22px;
    width: 60px;
    font-size: 14px;
   
    
}

#searchButton:hover, #newListButton:hover {
    background-color:#dbcba9;
    color: black;
}


/* Inside the book Div */
.bookDiv {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "img info";
   
    text-align:left;
    margin: 20px auto;
    max-width: 365px;

    border-radius: 2%;
    
}

.bookInfo {color: #dbcba9;}
h2.bookInfo { font-size: 20px; margin: 8px 1px 2px 1px}
h4.bookInfo { font-size: 14px; margin: 1px 1px 3px 1px}
p.bookInfo {font-size: 10px; margin: 1px;}

.bookImg {
    margin: 10px 5px 5px 5px;
    height: 135px;
    width: 84px;
    border: solid #dbcba9;
    grid-area: img;
}

.blankDiv {
    width:365px;
    margin: 20px auto;
}

.listButton, .removeButton {
   width: 80px;
   margin: 0px 0px 10px 7px;
   background:transparent;
   border: solid #dbcba9;
   color: #dbcba9;
   border-radius: 15px;
   
}

.listButton:hover, .listButton:focus, .removeButton:hover, .removeButton:focus {
    background-color: #dbcba9;
    border-color: black;
    color:black;
  }
  
  /* outer div */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border: solid #dbcba9;
    border-radius: 15px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* inner div */
  .dropdown-content a {
    color: #dbcba9;
    border: solid #dbcba9 1px;
    border-radius: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /*color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #dbcba9;
      border-color: black;
      color:black;
    }
  
  /* Show the dropdown menu */
  .show {display:block;}



#resultsErrorNone {
    color: #dbcba9;
    text-align: center;
    margin-top: 50px;
}

/* .listButton:hover, .listButton:active{

} */

footer {
    background-color: black;
    color: #dbcba9;
    text-align: center;
    font-size: 11px;
 
}

footer > p {
    margin-bottom: 0px;
    margin-top: 0px;
   
}

footer > a, footer > a:link, footer > a:visited{
    font-size: 11px;
   
    text-decoration: none;
    color: #dbcba9;
}
footer > img {
    margin-top: 75px;
}



@media only screen and (min-width: 600px){
    header {

        background-size:cover;
        background-position: bottom center;
        background-position-y: 60%;
        
    }
}


@media only screen and (min-width: 780px) {
    .bookDivsDiv {
        display: flex;
     }
}

@media only screen and (min-width: 900px){
    header {
        background-size: cover;
        background-position: bottom 41% center;
      
        
        
    }

    .bookDivsDiv {
        display: flex;
        justify-content: center;
     }

    .bookDiv {
        margin: 20px 40px;
    }

    .blankDiv {
       
        margin: 20px 40px;
    }
}